*
{
    margin: 0;
}

img
{
    width: 100%;
}

.container 
{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 10px;
    background-color: black;
    padding: 10px;
}

li
{
    list-style-type: none;
    padding-right: 20px;

}

.container > div 
{
    background-color: white;
    text-align: center;
    padding: 0;
    font-size: 30px;
}

.navbar
{
    display: flex;
    flex-direction: row;
}

.item3 
{
    text-align: center;
    grid-row-start: 2;
    grid-row-end: 4;
    grid-column-start: 2;
    grid-column-end: 2;
}

.item3 p
{
    font-size: 20px;
}

.item4 
{
    text-align: center;
    grid-row-start: 2;
    grid-row-end: 6;
    grid-column-start: 3;
    grid-column-end: 10;
}

.item1 
{
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 1;
    grid-column-end:10;
}

.item2 
{
    grid-row-start: 2;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 1;
}

.item5 
{
    grid-row-start: 4;
    grid-row-end: 9;
    grid-column-start: 1;
    grid-column-end: 3;
}

.item6 
{
    grid-row-start: 6;
    grid-row-end: 9;
    grid-column-start: 3;
    grid-column-end: 4;
}

.item4 p
{
    font-size: 20px;    
}

.item7
{
    grid-row-start: 6;
    grid-row-end: 8;
    grid-column-start: 4;
    grid-column-end: 10;
}

.item8 
{
    grid-row-start: 8;
    grid-row-end: 9;
    grid-column-start: 4;
    grid-column-end: 7;
}

.item10
{
    grid-row-start: 9;
    grid-row-end: 10;
    grid-column-start: 1;
    grid-column-end: 3;
}

.item11
{
    grid-row-start: 9;
    grid-row-end: 10;
    grid-column-start: 3;
    grid-column-end: 10;
}

.item9 
{
    grid-row-start: 8;
    grid-row-end: 9;
    grid-column-start: 7;
    grid-column-end: 10;
}